
body {
    background-color: #F2F2F2;
    max-width: 1400px;
    font-family: 'Roboto', sans-serif;
    }
    
    h1 {
        font-family: 'Shrikhand', cursive;
        width: 70%;
        
    }
    
    h3 {
        font-family: 'Shrikhand', cursive;;
        margin-left: 2%;
    }
    
    a {
        text-decoration: none ;
        color: white;
     } 

       #logo  {
        display: flex;
        height: 25px;
        padding-top: 3%;
        padding-bottom: 3%;
        align-items: center;
        background-color: white;
    }

    #logo i {
      width: 6%;
      display: inline-block;
    

  }

  #photo img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    display: block;   
    position: relative;
    z-index: 1;
}

#titre {
  margin-left: 2%;
  display: flex;
  align-items: center;
  

}


.btn-heart--outline {
  position: absolute;
}
.btn-heart--solid {
  position: absolute;
  background: linear-gradient(180deg, #9356DC 0%, #FF79DA 100%);
  background-clip: text;
  color: rgba(0, 0, 0, 0);
  transform: scale(0);
  transition: transform 300ms;
  background-clip: text;
  -webkit-background-clip: text;
}
.btn-heart:hover {
  cursor: pointer;
}
.btn-heart:hover .btn-heart--solid {
  transform: scale(1);
  background-clip: text;
  -webkit-background-clip: text;
}
.btn-heart:hover .btn-heart--outline {
  background: linear-gradient(180deg, #9356DC 0%, #FF79DA 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: rgba(0, 0, 0, 0);
}

.card__icon {
  font-size: 24px;
  margin-right: 45px;
}


     @media screen and  (min-width : 769px ) {

   
    
    #logo img {
      margin: auto;
      max-height: 100%;
      max-width: 100%;
        
    }


    #photo img {
    
        height: 450px; 
    }


    #titre h1 {width: 100%;
      font-size:22px ;
       
   }
   .btn-heart {
    position: relative;
    display: flex;
    margin-left: 65%;
  }
  
  #entree, #plats, #desserts {
    margin-bottom: 60px;
  }
  
  .titrerepas {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;
  }  
  
  .carte {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  }
  .annimcarte {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #99E2D0;
    border-radius: 50%;
  }
  
  .annimcarte i {
    color: #fff;
  }

  .carte .annimcarte i {
    color: white;
}

  .carte .annimcarte {
    display: none;
  }
.carte:hover .carte {
    margin-left: 25px;
  }
.carte:hover .annimcarte {
    display: flex;
    animation-name: slide-up;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
  }

  .carte:hover .annimcarte i {
    animation: rotate-360 0.5s ease-out;
    animation-fill-mode: forwards;
  }
  
  @keyframes rotate-360 {
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes slide-left {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }



  
  
  h3 {
    font-size: 24px;
    font-weight: 700;
    margin: 0 30px 0 0;
  }

  
  
  .ingredients, .price {
    font-size: 18px;
    margin: 0;
  }
  
  .price {
    margin-top: 2%;
    font-weight: 700;
  }

  

  #bouton {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
}


#bouton #commander {
    width: 18%;
  
    display: flex;
    justify-content: center;
    border-radius: 22px ;
    border: none;
    box-shadow: 2px 2px 2px rgb(185, 179, 179);
    padding: 2%;
    background: linear-gradient( #FF79DA, #9356DC) ;
}
#bouton #commander:hover {
    background-color: lighten(#222222, 10%);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    transform:scale(1.05);
    transition: transform 450ms;
  
  }
      


    footer {
      background-color: rgb(43, 40, 40);
      color: white;
      list-style-type: none;
      padding-top: 5%;
      padding-bottom: 5%;
      display: flex;
      justify-content: center;
      align-items: center;
      
  } 
  
  footer img {
      display: flex;
      width: auto;
      height: 15px;
      margin-right: 5%;
      justify-content: center;
      filter: brightness(2000%);
  }
  
  
  
  footer p {
      margin-left: 4%;
      font-size: 12px;
      margin-right: 5%;
      display: inline;
  }
  
  footer .iconefooter {
      display: flex;
      margin-left: 4%;
      width: 20%;
      height: 22px; 
      align-items: center;
      font-size: 12px;
  }
  


     }
    
    
    @media screen and (max-width : 768px) {
    
    
  
    #logo img {
        margin: 0 auto;
        width: 35%;
    }

    #photo img {
    
      height: 350px; 
  }

    #carte {

      background-color: #F2F2F2;
      border-radius: 6% 6% 0 0;
      position: relative;
      margin-top: -16%;
      z-index: 1;
    }
   

    #titre {
        margin-left: 2%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30%;
        
    }

    #titre h1 {
     font-size:20px ;
      
  }

    #titre i {
        margin-left: 5px;
        padding-right: 3%;
        font-size: 25px;
        font-weight: 100;

    }

    .card__icon {
      font-size: 24px;
      margin-right: 45px;
    }
    
  
    .carte {
        background-color: #fff;
       
        border-radius: 22px ;
        opacity: 0; /* les menus sont initialement cachés */
        animation: apparition-menu 0.3s ease-in-out forwards; /* l'animation sera appliquée à chaque élément menu */
      }
      
      /* Animation pour faire apparaître progressivement les éléments menu */
      @keyframes apparition-menu {
        0% {
          opacity: 0;
          transform: translateY(50%);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      
      /* Ajouter un délai de temps différent à chaque menu */
      .carte:nth-child(1) {
        animation-delay: 0.2s;
      }
      
      .carte:nth-child(2) {
        animation-delay: 0.4s;
      }
      
      .carte:nth-child(3) {
        animation-delay: 0.6s;
      }
      
      .carte:nth-child(4) {
        animation-delay: 0.8s;
      }
      

      .titrerepas {
        padding: 0%;
        padding-bottom: 2%;
       
      }
      
      .titrerepas:hover {
        width: 10%;
        border-bottom: solid 7px #99E2D0;
        border-top: none;
        padding-bottom: 1%;
      } 
      

    #entree {
        cursor: pointer;
    }
    
    .carte h3 {
        margin-top: 2%;
        margin-bottom: 0%;
        width: 90%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;

    }
    

    .carte p {
        margin-left: 2%;
        
    }
    

    .carte .ingredients {
      display: inline-block;
      width: 68%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: middle;
    }  
    
    .carte .price {
      display: inline-block;
      width: 6%;
      margin-left: 11%;   
      z-index: 1;
      vertical-align: middle;
    }



    .carte .annimcarte {
    width:15%;
    height: 78px;
    background-color: #99E2D0;
    display: inline-flex;
    position:absolute ;
    margin-left: 85%;
    justify-content: center;
    align-items: center;
    border-radius: 0px 20px 20px 0px;
    display: none;
    
    }

    .carte:hover h3 {
      margin-left: 2px;
     
    }
    .carte .annimcarte i {
        color: white;
    }
    .carte:hover .price {
        margin-left: 12px;
      }
    .carte:hover .annimcarte {
        display: flex;
        animation-name: slide-left;
        animation-duration: 0.5s;
        animation-timing-function: ease-out;
      }

      .carte:hover .annimcarte i {
        animation: rotate-360 0.5s ease-out;
        animation-fill-mode: forwards;
      }
      
      @keyframes rotate-360 {
        to {
          transform: rotate(360deg);
        }
      }
      @keyframes slide-left {
        from {
          transform: translateX(100%);
        }
        to {
          transform: translateX(0);
        }
      }
      
      

    #bouton {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    

    #bouton #commander {
        width: 180px;
        display: flex;
        justify-content: center;
        border-radius: 22px ;
        border: none;
        box-shadow: 2px 2px 2px rgb(185, 179, 179);
        padding: 3%;
        background: linear-gradient( #FF79DA, #9356DC) ;
    }
    #bouton #commander:hover {
        background-color: lighten(#222222, 10%);
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
        transform:scale(1.05);
        transition: transform 450ms;
      
      }

    footer {
        background-color: rgb(43, 40, 40);
        color: white;
        list-style-type: none;
        padding-bottom: 5%;
        
    } 
    
    footer img {
        display: flex;
        width: auto;
        height: 15px;
        padding-top: 3%;
        padding-bottom: 3%;
        margin-left: 4%;
        justify-content: center;
        filter: brightness(2000%);
    }
    
    
    
    footer p {
        margin-left: 4%;
        font-size: 12px;
        
    }
    
    footer .iconefooter {
        display: flex;
        margin-left: 4%;
        width: 50%;
        height: 22px; 
        align-items: center;
        font-size: 12px;
    }
    
    
    
    }
